{% extends "boilerplate.html" %}
{% block bodyblock %}
<div class="inline-div-block">
	<div class="inline-div well">
		<p>Given the bitstring  <tt>{{question.flipped_string}}</tt>,<p>
		<p>which bit is in error?</p>
		<p>Assume even parity.</p>

	</div>
	<div class="inline-div">
		<table class="table table-striped table-bordered table-condensed" id="sec">
			<tbody>
				<tr>
				{% for i in range(1, question.length + 1) %}
					<th><center>{{i}}</center></th>
				{% endfor %}
				</tr>
				<tr>
					{% for b in question.labels %}
					<th><center>{{b}}</center></th>
					{% endfor %}
				</tr>
				<tr>
					<div class="btn-group" data-toggle="buttons-radio">
					{% for b in question.flipped_string %}
						<td class="nogap"><center><button id="{{ loop.index0 }}" type="button" class="btn hit" onclick="timerCheck()" data-toggle="button">{{b}}</button></center></td>
					{% endfor %}
					</div>
				</tr>
			</tbody>
		</table>
		<div>
			<p id="correct"><center></center></p>
		</div>
	</div>
	<div class="inline-div">
		<button id="submit" class="btn btn-large disabled">Submit</button>
		<br><br>
		<span id="score"></span>
	</div>
</div>
{% endblock %}
{% block jsblock %}
<script>

function canSubmit() {
	var active = $(".btn.active").length;
	return (active === 1);
}

function get_answer() {
		var flip_index = "";
		$.each($(".btn.active"), function(index, value) { flip_index = value.id; });
		return flip_index;
}

function correct(json_rdata) {
	var flip_string = json_rdata["wanted"][0];
	var answer_string = get_answer();
	var flip_index = parseInt(flip_string, 10);
	var answer = parseInt(answer_string, 10);
	
	for (var i = 0 ; i < 15; i++) {
		if (i === flip_index) {
			$("#"+i).addClass('active btn-correct');
		}
		else {
			$("#"+i).addClass('btn-incorrect');
		}
	}

	var odd_parity = json_rdata["wanted"][1];
	$("#correct").html("Parity bit(s) " + String(odd_parity) + " have odd parity");
}

</script>
{% endblock %}
