div.test0{position:absolute;top:60px;left:25px;z-index:-1;font-family:Courier;font-size:16px;} 
.test1{position:absolute;top:130px;left:25px;z-index:-1;font-family:Courier;font-size:16px;}
.test2{position:absolute;top:200px;left:25px;z-index:-1;font-family:Courier;font-size:16px;}
.test3{position:absolute;top:270px;left:25px;z-index:-1;font-family:Courier;font-size:16px;}
.test4{position:absolute;top:340px;left:25px;z-index:-1;font-family:Courier;font-size:16px;} 
.test5{position:absolute;top:410px;left:25px;z-index:-1;font-family:Courier;font-size:16px;} 
.test6{position:absolute;top:480px;left:25px;z-index:-1;font-family:Courier;font-size:16px;}
.content{position:relative;}