.muxlevel0 {
  top: 275px;
  left: 330px;
}  
.pmuxlevel0 {
  top: 275px;
  left: 370px; 
}
.muxlevel1 {
  top: 295px;
  left: 295px;
}
.pmuxlevel1 {
  top: 295px;
  left: 335px;
}

.muxlevel2 {
  top: 250px;
  left: 355px;
}
.pmuxlevel2 {
  top: 250px;
  left: 390px;
}