.btn-highlight {
  color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
}
