<input type="text" class="nogap numeric signal control_type" maxlength="2" id="control_type" autocomplete="off" />
<p class="pcor pcontrol_type" id="pcontrol_type"></p>

<input type="text" class="nogap numeric signal binary_signal write_enable" maxlength="1" id="write_enable" autocomplete="off" />
<p class="pcor pwrite_enable" id="pwrite_enable"></p>

<input type="text" class="nogap numeric signal binary_signal itype" maxlength="1" id="itype" autocomplete="off" />
<p class="pcor pitype" id="pitype"></p>

<input type="text" class="nogap numeric signal binary_signal lui" maxlength="1" id="lui" autocomplete="off" />
<p class="pcor plui" id="plui"></p>

<input type="text" class="nogap numeric signal binary_signal alu_src2" maxlength="1" id="alu_src2" autocomplete="off" />
<p class="pcor palu_src2" id="palu_src2"></p>

<input type="text" class="nogap numeric signal alu_op" maxlength="3" id="alu_op" autocomplete="off" />
<p class="pcor palu_op" id="palu_op"></p>

<input type="text" class="nogap numeric signal binary_signal slt" maxlength="1" id="slt" autocomplete="off" />
<p class="pcor pslt" id="pslt"></p>

<input type="text" class="nogap numeric signal binary_signal mem_read" maxlength="1" id="mem_read" autocomplete="off" />
<p class="pcor pmem_read" id="pmem_read"></p>

<input type="text" class="nogap numeric signal binary_signal byte_load" maxlength="1" id="byte_load" autocomplete="off" />
<p class="pcor pbyte_load" id="pbyte_load"></p>

<input type="text" class="nogap numeric signal binary_signal word_write_enable" maxlength="1" id="word_write_enable" autocomplete="off" />
<p class="pcor pword_write_enable" id="pword_write_enable"></p>

<input type="text" class="nogap numeric signal binary_signal byte_write_enable" maxlength="1" id="byte_write_enable" autocomplete="off" />
<p class="pcor pbyte_write_enable" id="pbyte_write_enable"></p>

<p class="display_signal" id="display_signal"></p>
