{% extends "adaptiveboilerplate.html" %}
{% block questionblock %}
{% if type == "get" %}
<p>You must choose a dificulty level before the question will display . Easy, Medium, and Hard take your proficiency into account</p>
{% else %}
	<br>
	<div class="inline-div">What is the answer to </div>
	
	<div class="inline-div well">
	  <h4>{{- question.number1 -}}</h4>
	  <p>decimal</p>
	</div>
	<div class="inline-div">{{- question.sign -}}</div>
	<div class="inline-div well">
	  <h4>{{- question.number2 -}}</h4>
	  <p>decimal</p>
	</div>
	<div class="inline-div well">
		<p><input type="text" id="studentanswer"/></p>
		<p><b>decimal</b></p>
		<p id="correct"></p>
	</div>
	<div class="inline-div">
		<button id="submit" class="btn btn-large disabled">Submit</button>
		<span id="score"></span>
	</div>
	<p>question type= {{question.typ}}</p>
	<p>question level= {{question.lev}}</p>
	<p>question index= {{question.index}}</p>
	<p>right wrong array= {{question.wr}}</p>
	<p>holder= {{submit.holder}}</p>
	<br>
	<br>
{% endif %}
{% endblock %}
{% block jsblock %}
<script src="/js/numeric.js"></script>
  <script type="text/javascript">
	 submit_url = "/adaptive/{{- submit.question_type -}}?student={{- submit.magic -}}&holder={{- submit.holder -}}";
	 
    $(document).ready(function() {	      
		validate_decimal($('#studentanswer'));
		$("#difficultyblock").width($("#questionblock").width());
    });	
    
    get_answer = function() {
      return $("#studentanswer").attr('value');
    }
    function correct(json_rdata) {
      $("#correct").html("Answer: " + json_rdata["wanted"]["answer"]);
    }

    function canSubmit() {
       return $("#studentanswer").attr('value').length > 0;
    }
  </script>
{% endblock %}