{% extends "boilerplate.html" %}

{% block bodyblock %}
  <div class="inline-div">
    <div class="inline-div">
    What is the value of <tt>y</tt>?
    </div>
    <div class="inline-div well" style="text-align: left">
      <tt><b>uint32_t</b> x = {{ question.operand }};</tt><br>
    {% if submit.level == 1 %}
      <tt>x = x {{ question.op2|e }} {{ question.operand2 }};</tt><br>
    {% endif %}
    {% if question.operation == "rshift" %}
      <tt><b>uint32_t</b> y = (x {{ question.ops[0]|e }} {{ question.shamt }}) {{ question.ops[1]|e }} {{ question.mask }};</tt><br>
    {% else %}
      <tt><b>uint32_t</b> y = x {{ question.ops[1]|e }} ({{ question.mask }} {{ question.ops[0]|e }} {{ question.shamt }});</tt><br>
    {% endif %}
    </div><br><br>
    <div>
    Answer in hexadecimal: <tt>0x</tt><input type="text" class="nogap numeric" id="answer" autocomplete="off" />
    <button id="submit" class="btn btn-large disabled">Submit</button> <br />
    <br>
    <div style="text-align: center">
      <a href="http://lmgtfy.com/?q=uint32_t" target="_blank"><i>Definition of uint32_t</i></a>
    </div>
    <p id="correct">&nbsp;</p>
    <span id="score"></span>
    </div>

  </div>
{% endblock bodyblock %}

{% block jsblock %}
{{ super() }}
<script src="/js/numeric.js"></script>
<script type="text/javascript">
  $(document).ready(function() {        
    validate_h($('#answer'));
    checkSubmit();
    $('.int32').popover({
      trigger: 'hover',
      html: true,
      delay: {hide: 3000},
      content: '<a href="http://lmgtfy.com/?q=uint32_t" target="_blank">Definition of uint32_t</a>'
    });
    $('.int32').mouseover(function() {
      $(this).popover('show');
    });
  });

  function canSubmit() {
    return ($('#answer').val().length > 0);
  }

  function get_answer() {
    return $('#answer').val();
  }

  function correct(json_rdata) {
    $('#correct').html('Answer: ' + json_rdata['wanted']);
    var real_answer = '0x' + get_answer();
    if (parseInt(json_rdata['wanted'],16) != parseInt(real_answer,16)) {
        $('#correct').css('color', 'red');
    }
  }
</script>
{% endblock jsblock %}
